{% extends 'admin_centraldb/base_admin.html' %}


{% block content_admin %}
    <div class="well well-lg">
        <div style="text-align: right; margin: auto; display: table; padding: 20px">
            <ul class="nav nav-pills">
                <li class="active"><a data-toggle="pill" href="#add">Ajouter un lieu</a></li>
                <li><a data-toggle="pill" href="#update">List des lieux</a></li>
            </ul>

            <div class="tab-content">
                <div id="add" class="tab-pane fade in active">
                    <h3>Ajouter un lieu</h3>
                    <form action="/module_rent_place/admin/" method="post">
                        {% csrf_token %}

                        {{ add_form.as_p }}
                        <input type="submit" name="add_form" value="Submit" />
                    </form>
                </div>
                <div id="update" class="tab-pane fade">
                    {% for r in places %}

                        <div >
                            <div class="col-sm-6 col-md-4">
                                <div class="thumbnail">
                                    {% for id_place, query_primary in primary_image.items %}
                                        {% for m in query_primary %}
                                            {% if r.pk == id_place %}
                                                <img src="/{{ m.path_image }}">
                                            {% endif %}
                                        {% endfor %}
                                    {% endfor %}

                                    <div class="caption">
                                        <h3>{{r.display_name}}</h3>


                                        <p>{{r.type_place}}</p>
                                        <p><strong> Etat: </strong>{{ r.state }}</p>
                                        <p> <strong>Prix HT: </strong>{{r.price}} €/jour </p>
                                        <p> <strong>TVA: </strong>{{r.tva}}%</p>
                                        <strong>Max personnes: </strong>{{r.max_member}}<br>
                                        <h4>Options disponibles:</h4>
                                        <fieldset style="background-color: #D8D8D8; margin: 10px; padding:20px;">

                                            {% for id_place, query_meta in meta.items %}
                                                {% if r.pk == id_place %}
                                                    {% for m in query_meta %}
                                                        {{m.display_name}} <!--TODO make a great description of place-->
                                                    {% endfor %}

                                                    </fieldset>
                                                {% endif %}
                                            {% endfor %}
                                        <a style="color: black; text-decoration: none" href="/module_rent_place/admin/configure/{{r.pk}}"><input type="submit" name="modif_rent_place" value="Modifier" ></a>

                                        <a style="color: black; text-decoration: none" href="/module_rent_place/admin/delete/{{r.pk}}"><input type="submit" name="modif_rent_place" value="Supprimer" ></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}