{% extends 'user_centraldb/base_user.html' %}
{% load array_access %}

{% block content_user %}
    <div class="container" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
    <div class="row">
        {% for r in places %}
        <div class="col-sm-6 col-md-4">


                <div class="thumbnail">
                    <img src="/{{ meta_primary_image|index:r.id|field:"path_image" }}" >
                    <div class="caption">
                        <h3>{{ r.display_name }}</h3>
                        <p><a href="/module_rent_place/user/rent/{{ r.id }}" class="btn btn-primary" role="button">Réserver</a></p>
                    </div>
                </div>

        </div>

            {% endfor %}
    </div>
    </div>
{% endblock %}